hr {
	width: 30%;
	margin-top: 32px;
	margin-bottom: 24px;
}

img.tbBtn {
	cursor: pointer;
	margin: 1px 3px 1px 3px;
}

#pgnTable {
	width: auto;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	border: 0;
}

#pgnTable tr td { padding: 2px; }

#chessDesk {
	clear: both;
	width: auto;
	height: auto;
	margin-top: 32px;
	margin-bottom: 32px;
}

#chessToolBar {
	width: 550px;
	height: auto;
	margin: 12px auto;
	background-color: #969696;
	-moz-box-shadow: inset 0 25px 27px -10px #BDBDBD;
	-webkit-box-shadow: inset 0 25px 27px -10px #BDBDBD;
	box-shadow: inset 0 25px 27px -10px #BDBDBD;
	border-bottom: 1px solid #424242;
	text-align:center;
	padding: 6px 3px 2px 3px;
}

#setViewBtns {
	width: auto;
	float: left;
}

#setViewBtns span {
	margin: 0 3px;
	display: inline-block;
	font: 12px / 13px "Lucida Grande", sans-serif;
	text-shadow: rgba(255, 255, 255, 0.4) 0 1px;
	padding: 3px 6px;
	border: 1px solid rgba(0, 0, 0, 0.6);
	background-color: #969696;
	cursor: default;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px, inset 0 20px 20px -10px white;
	-webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px, inset 0 20px 20px -10px white;
	box-shadow: rgba(255, 255, 255, 0.4) 0 1px, inset 0 20px 20px -10px white;
}
#setViewBtns span.pressedBtn {
	background: #B5B5B5;
	-moz-box-shadow: inset rgba(0, 0, 0, 0.4) 0 -5px 12px, inset rgba(0, 0, 0, 1) 0 1px 3px, rgba(255, 255, 255, 0.4) 0 1px;
	-webkit-box-shadow: inset rgba(0, 0, 0, 0.4) 0 -5px 12px, inset rgba(0, 0, 0, 1) 0 1px 3px, rgba(255, 255, 255, 0.4) 0 1px;
	box-shadow: inset rgba(0, 0, 0, 0.4) 0 -5px 12px, inset rgba(0, 0, 0, 1) 0 1px 3px, rgba(255, 255, 255, 0.4) 0 1px;
}
